################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SalesTotal_Quinn/obj
/StudentGrade_Quinn/.vs
/StudentGrade_Quinn/obj/Debug
